:root{
    --line: min( calc( 100vw - 8px ), 40px);
}
#container{
    width: min( calc( 100vw - 80px ), 400px);
}
#begin{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
}

.list {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.list__hder {
    height: var(--line);
    line-height: var(--line);
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
}

.scrollbar {
    float: left;
    aspect-ratio: 5/7;
    width: 100%;
    overflow-y: scroll;
}


#style-2::-webkit-scrollbar {
    width: 5px;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.list__item {
    height: var(--line);
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: var(--line);
    display: flex;
    flex-flow: row;
}

.list__item-name {
    display: flex;
    flex-flow: row;
    flex: 1;
}

.list__item i {
    margin: auto 5px auto 5px;
    font-size: calc(var(--line)/2);
}

.list__item p {
    font-size: calc(var(--line)/2);
}

.list__item-name:hover ~ i{
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(73, 134, 162, 0.693);
    cursor: pointer;
}


.bt_list_item:hover{
    color: rgba(73, 134, 162, 0.693);
    cursor: pointer;
}

#menu {
    margin-left: calc(min( calc( 100vw - 80px ), 400px) + 10px);
    position: absolute;
}


.mn__ls-item {
    width: var(--line);
    height: var(--line);
    border-radius: 50%;
    font-size: calc(var(--line)/3);
    line-height: var(--line);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 5px;
}

.mn__ls-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.play {
    text-align: center;
}

#name {
    text-align: center;
}

#time {
    text-align: center;
}

.csl__button {
    height: 61px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.button {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    margin: auto;
}

.button:hover {
    color: rgba(45, 169, 128, 0.8);
    cursor: pointer;
}

.color_heart {
    color: rgb(207, 95, 196);
}

.bgr_green {
    background-color: rgba(113, 237, 88, 0.4);
}

/* waveform */

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_right,
.container_left {
    width: 384px;
    height: 500px;
    display: flex;
    align-items: center;
}

.console_waveform {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_waveform {
    background-color: rgba(255, 255, 255, 0);
    font-size: 500%;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: rgba(255, 255, 255, 0.5);
}

.name_waveform {
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    position: fixed;
    left: 50%;
    top: calc(50% + 100px);
    transform: translate(-50%, -50%);
}


.element {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
    z-index: 1;
}

.defause_waveform{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    font-size: 20px;
    line-height: 50px;
    right: 20px;
    z-index: 1;
}


@media only screen and (max-width: 400px){
    :root{
        --line:30px;
    }
    #menu {
        margin-left: calc(min( calc( 100vw - 80px ), 400px) + 5px);
        position: absolute;
    }
    .reponsive{
        display: none;
    }
}