* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
}

.hd__list{
    display: flex;
    justify-content: flex-start;
    font-size: small;
}
